* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #333;
  color: #eee;
}

.container {
  min-width: 280px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  border: 0.1rem #fff solid;
}

.mem-container {
  min-height: 2.5rem;
  border-top: 0.1rem solid #777;
  width: 100%;
  padding: 1rem;
}

.option-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.option-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-header:focus > .icon {
  transform: rotate(45deg);
}

.option-title {
  font-style: italic;
}

.option-body {
  width: 0%;
  height: 0%;
  margin: 0 auto;
  transition: all 1s ease;
}

.option-header:focus ~ div {
  margin: 1rem auto;
  width: 50%;
  height: auto;
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  background: url("./assets/images/icons/plus-solid.svg") no-repeat center;
  transition: transform 0.5s ease;
}

@media (min-width: 320px) {
  .option-title {
    font-size: 1.5rem;
  }
}

@media (min-width: 820px) {
  .option-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .option-title {
    font-size: 2.5rem;
  }

  .mem-container {
    max-width: 1200px;
  }

  .icon {
    opacity: 0;
  }

  .container {
    max-width: 1200px;
  }
}

@media screen and (hover: hover) {
  .container:hover .icon {
    opacity: 1;
  }

  .mem-container:hover {
    cursor: pointer;
  }

  .option-header:hover ~ div,
  .mem-container:hover .option-body,
  .mem-container:focus .option-body {
    margin: 1rem auto;
    width: 50%;
    height: auto;
  }

  .mem-container:hover .icon,
  .option-header:focus > .icon {
    transform: rotate(45deg);
  }
}
